.q10-11{fill:rgb(165,0,38)}
.q9-11{fill:rgb(215,48,39)}
.q8-11{fill:rgb(244,109,67)}
.q7-11{fill:rgb(253,174,97)}
.q6-11{fill:rgb(254,224,139)}
.q5-11{fill:rgb(255,255,191)}
.q4-11{fill:rgb(217,239,139)}
.q3-11{fill:rgb(166,217,106)}
.q2-11{fill:rgb(102,189,99)}
.q1-11{fill:rgb(26,152,80)}
.q0-11{fill:rgb(0,104,55)}

.polygon {
  fill-opacity: 0.5
}

.polygon:hover {
  fill-opacity: 0.3;
}
